* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
    text-align: center;
}

.container {
    margin-bottom: 20px;
}

.bingo-container {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-around;
    width: 510px;  /* Espaço suficiente para as letras */
}

.circle {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: #ffcc00;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    position: relative;
}

#number {
    font-size: 3rem;
    color: white;
    font-weight: bold;
}

button {
    padding: 10px 20px;
    font-size: 1rem;
    cursor: pointer;
    border: none;
    background-color: #2ecc71;
    color: white;
    border-radius: 5px;
}

button:hover {
    background-color: #27ae60;
}

/* Estilo da cartela de bingo */
.bingo-cartela {
    display: grid;
    grid-template-columns: repeat(5, 100px); /* 5 colunas, uma para cada letra */
    gap: 5px;
    justify-content: center;
    width: 510px; /* Mesma largura do header */
}

/* Estilo das células da cartela */
.bingo-celula {
    width: 100px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    border: 1px solid #ccc;
    font-size: 14px;
    cursor: pointer;
}

.marcado {
    background-color: #FF0000;  /* Marca o número com vermelho */
}